.bu_col {
    width: 100%;
    background-color: #F1F1F1;
    box-shadow: 10px 0 3px rgba(100, 150, 0, 0.9);
}

.buttom {
    width: 1100px;
    height: 1000px;
    position: relative;

}

.left {
    width: 100px;
    height: 1000px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
}

.right {
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: 100px;
}

.left ul {
    width: 100px;
    height: 100%;
}

.left ul li {
    width: 100px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
}

.right .right-top {
    width: 800px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 60px;
    padding-top: 5px;
    font-size: 20px;
}

.right .right-top a {
    width: 40px;
    height: 20px;
    margin-left: 20px;
}

.right-bottom {
    width: 900px;
    height: 900px;
    position: relative;
    top: 100px;
    left: 60px;
    overflow: hidden;
}

.right-bottom ul li {
    width: 250px;
    height: 200px;
    display: inline-block;
    float: left;
    margin-right: 50px;
    text-align: center;
    line-height: 40px;
}
.right-bottom ul li img{
    width: 250px;
    height: 150px;
}