<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>芒果TV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
{% block apple-banner %}
    <div class="apple-banner">
        <nav class="navbar navbar-fixed-top navbar-transparent" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://127.0.0.1:8000/"><img alt="index" src="{% static 'image/mango_logo.png' %}"
                                                          style="height: 40px; width: 160px; margin-top: -5px"></a>
                    <a class="navbar-brand" href="#"><img alt="index" src="{% static 'image/xxsk.png' %}"
                                                          style="height: 30px; width: 60px; margin-top: 2px"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" action="/search" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" name="q"
                                       style="background: transparent; border-radius: 20px; border: rgba(99,131,117,0.8)"
                                       placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default"
                                    style="border-radius: 20px; background-color: #FC9700; border: 1px solid #FC9700; color: white">
                                全网搜
                            </button>
                        </form>
                        <li><a href="#">会员</a></li>
                        <li><a href="#">创作投稿</a></li>
                        <li><a href="#">饭团</a></li>
                        <li><a href="#">消息</a></li>
                        <li><a href="{% url 'record:record' %}">看过</a></li>
                        <li><a href="#">客户端</a></li>
                        <li><a href="{% url 'record:record' %}">个人信息</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
{% endblock %}
{% block container %}
{% endblock %}
{% block foot %}
    <div class="bottom container-fluid">
        <div class="bottom_tv container">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <ul>
                <li><a href="#">天娱传媒</a></li>
                <li><a href="#">芒果V基金</a></li>
                <li><a href="#">湖南经视</a></li>
                <li><a href="#">快乐购</a></li>
                <li><a href="#">湖南省广播电视协会</a></li>
                <li><a href="#">快乐垂钓</a></li>
                <li><a href="#">芒果商标</a></li>
                <li><a href="#">重点工程</a></li>
                <li><a href="#">芒果影视</a></li>
            </ul>
        </div>
        <div class="bottom_nav container">
            <ul>
                <li><a href="#">公司简介</a></li>
                <li>|</li>
                <li><a href="#">关于我们</a></li>
                <li>|</li>
                <li><a href="#">公司动态</a></li>
                <li>|</li>
                <li><a href="#">广告服务</a></li>
                <li>|</li>
                <li><a href="#">招聘信息</a></li>
                <li>|</li>
                <li><a href="#">法律声明</a></li>
                <li>|</li>
                <li><a href="#">联系我们</a></li>
                <li>|</li>
                <li><a href="#">业务构成</a></li>
                <li>|</li>
                <li><a href="#">反盗版盗链声明</a></li>
                <li>|</li>
                <li><a href="#">隐私政策</a></li>
                <li>|</li>
                <li><a href="#">下载中心</a></li>
            </ul>
            <p>Copyright 2006-2020 mgtv.com Corporation,All Rights Reserved</p>
            <p>湖南快乐阳光互动娱乐传媒有限公司 版权所有</p>
            <p>湘网文[2018]6786-055号信息网络传播视听节目许可证号：1805107互联网新闻信息服务许可证号：<a href="#">43120170003</a><a href="#">湘B2-20090004互联网出版许可证：新出网证（湘）字08号</a>
            </p>
            <p><a href="#">湘公网安备 43010502000010</a><a href="#">号营业性演出许可证号：430000120079</a><a href="#">广播电视节目制作经营许可证：（湘）字第000090号</a>
            </p>
            <p>联系电话 : 4009770707举报电话 : 0731－82871676 举报邮箱 : web@mgtv.com</p>
            <p>杜绝虚假报道 欢迎社会监督</p>
        </div>
    </div>
{% endblock %}
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/apple.js' %}"></script>
    <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
    </div>
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
